In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    
    uni_cities = []
    # read list of uni towns 
    with open('university_towns.txt', 'r') as f:
        state_name = ''
        for line in f:
            # upd state name 
            if '[edit]' in line:
                state_name = line.split('[')[0]
                continue
            
            # get rid of uni name
            city_without_uni = line.split('(')[0][:-1]
            city = city_without_uni.split('[')[0]
            
            # to filter grop names (eg. The Colleges of Worcester Consortium:)
            if ':' not in city:
                uni_cities.append((state_name, city))
    
    df = pd.DataFrame(data=uni_cities, columns=["State", "RegionName"])
    df.set_index('State', inplace=True)
    return df

get_list_of_university_towns()

                                 RegionName
State
Alabama                              Auburn
Alabama                            Florence
Alabama                        Jacksonville
Alabama                          Livingston
Alabama                          Montevallo
Alabama                                Troy
Alabama                          Tuscaloosa
Alabama                            Tuskegee
Alaska                            Fairbanks
Arizona                           Flagstaff
Arizona                               Tempe
Arizona                              Tucson
Arkansas                        Arkadelphia
Arkansas                             Conway
Arkansas                       Fayetteville
Arkansas                          Jonesboro
Arkansas                           Magnolia
Arkansas                         Monticello
Arkansas                       Russellville
Arkansas                             Searcy
California                           Angwin
California                           Arcata
California                         Berkeley
California                            Chico
California                        Claremont
California                           Cotati
California                            Davis
California                           Irvine
California                       Isla Vista
California     University Park, Los Angeles
...                                     ...
Virginia                               Wise
Virginia                         Chesapeake
Washington                       Bellingham
Washington                           Cheney
Washington                       Ellensburg
Washington                          Pullman
Washington     University District, Seattle
West Virginia                        Athens
West Virginia                    Buckhannon
West Virginia                      Fairmont
West Virginia                     Glenville
West Virginia                    Huntington
West Virginia                    Montgomery
West Virginia                    Morgantown
West Virginia                 Shepherdstown
West Virginia                  West Liberty
Wisconsin                          Appleton
Wisconsin                        Eau Claire
Wisconsin                         Green Bay
Wisconsin                         La Crosse
Wisconsin                           Madison
Wisconsin                         Menomonie
Wisconsin                         Milwaukee
Wisconsin                           Oshkosh
Wisconsin                       Platteville
Wisconsin                       River Falls
Wisconsin                     Stevens Point
Wisconsin                          Waukesha
Wisconsin                        Whitewater
Wyoming                             Laramie

[515 rows x 1 columns]

In [18]:
def read_gdplev():
    df = pd.read_excel('gdplev.xls')[219:]
    df = df.rename(columns={'Unnamed: 4': 'Quarter', 'Unnamed: 6': 'GDP'})
    df = df[['Quarter', 'GDP']]
    df = df.set_index('Quarter')
    return df

read_gdplev()

             GDP
Quarter
2000q1   12359.1
2000q2   12592.5
2000q3   12607.7
2000q4   12679.3
2001q1   12643.3
2001q2   12710.3
2001q3   12670.1
2001q4   12705.3
2002q1   12822.3
2002q2     12893
2002q3   12955.8
2002q4     12964
2003q1   13031.2
2003q2   13152.1
2003q3   13372.4
2003q4   13528.7
2004q1   13606.5
2004q2   13706.2
2004q3   13830.8
2004q4   13950.4
2005q1   14099.1
2005q2   14172.7
2005q3   14291.8
2005q4   14373.4
2006q1   14546.1
2006q2   14589.6
2006q3   14602.6
2006q4   14716.9
2007q1     14726
2007q2   14838.7
...          ...
2009q1     14375
2009q2   14355.6
2009q3   14402.5
2009q4   14541.9
2010q1   14604.8
2010q2   14745.9
2010q3   14845.5
2010q4     14939
2011q1   14881.3
2011q2   14989.6
2011q3   15021.1
2011q4   15190.3
2012q1     15291
2012q2   15362.4
2012q3   15380.8
2012q4   15384.3
2013q1   15491.9
2013q2   15521.6
2013q3   15641.3
2013q4   15793.9
2014q1     15747
2014q2   15900.8
2014q3   16094.5
2014q4   16186.7
2015q1     16269
2015q2   16374.2
2015q3   16454.9
2015q4   16490.7
2016q1     16525
2016q2   16583.1

[66 rows x 1 columns]

In [ ]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

In [ ]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    return "ANSWER"

In [ ]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

In [ ]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    return "ANSWER"

In [ ]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"